<div class="nested-fields">
 <div class="chef-form-signup-control">
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </div>

 <div class="chef-form-signup-control">
   <%= f.label :description %><br>
   <%= f.text_area :description %>
 </div>

 <div class="chef-form-signup-control">
   <%= f.label :url %><br>
   <%= f.url_field :url %>
 </div>

 <div class="chef-form-signup-control">
   <%= f.label :price %><br>
   <%= f.number_field :price, step: "any" %>
 </div>

 <div class="product_picture">
   <%= f.label :product_picture %>
   <%= f.file_field :product_picture %>
   <%= f.hidden_field :product_picture_cache %>
 </div>


 <%= link_to_remove_association "Remove dish", f %>
</div>
