<div class="nested-fields">
 <div class="field">
   <%= f.label :name %>
   <%= f.text_field :name %>
 </div>

 <div class="field">
   <%= f.label :description %>
   <%= f.text_area :description %>
 </div>

 <div class="field">
   <%= f.label :url %>
   <%= f.url_field :url %>
 </div>

 <div class="product_picture">
   <%= f.label :product_picture %>
   <%= f.file_field :product_picture %>
   <%= f.hidden_field :product_picture_cache %>
 </div>

 


 <%= link_to_remove_association "Remove dish", f %>
</div>
