<% if current_client %>
  <h1>Your Account Information</h1>
  <ul>
    <li><%= current_client.name %></li>
    <li><%= current_client.email %></li>
  </ul>
  

  <h3>Your Current Subscription</h3>
  <%= current_client.orders %>
<% end %>



<h2>List of All Chefs:</h2>

<div>
  <button id="current_location">Find chefs near me</button>
  <p class="error location-error">Unable to find your location</p>
</div>

<div>
  <%= form_tag chefs_path, method: "GET" do %>
    <%= label_tag :search, "Find Chefs Nearby" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>



<div id="chefs">
  <%= render @chefs %>
</div>
