<h1>Become a Chef</h1>

<%= form_for @chef do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :experience %>
    <%= f.text_area :experience %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="chef_avatar">
    <%= f.label :chef_avatar %>
    <%= f.file_field :chef_avatar %>
    <%= f.hidden_field :chef_avatar_cache %>
  </div>

  <h1>Dish's</h1>

  <div id="products">
    <%= f.fields_for @product do |product_fields| %>
      <%= render 'product_fields', f: product_fields %>
    <% end %>

    <div class="links">
      <%= link_to_add_association "Add Dish", f, :products %>
    </div>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>

<% end %>
