<h1>Chef Sign-Up</h1>

<%= form_for @chef, :html => {:class => "new_chef_form"} do |f| %>
  <div class="new_chef_question">
    <%= f.text_field :name, class: 'new_chef_input' %>
    <%= f.label :name, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.email_field :email, class: 'new_chef_input' %>
    <%= f.label :email, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.text_field :location, class: 'new_chef_input' %>
    <%= f.label :location, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.text_area :experience, class: 'new_chef_input' %>
    <%= f.label :experience, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.password_field :password, class: 'new_chef_input' %>
    <%= f.label :password, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.password_field :password_confirmation, class: 'new_chef_input' %>
    <%= f.label :password_confirmation, class: 'new_chef_label' %>
  </div>

  <div class="new_chef_question">
    <%= f.number_field :service_radius, class: 'new_chef_input' %>
    <%= f.label :service_radius, class: 'new_chef_label' %>
  </div>



  <div class="chef_avatar">
    <%= f.file_field :chef_avatar, class: 'new_chef_input' %>
    <%= f.label :chef_avatar, class: 'new_chef_label' %>
    <%= f.hidden_field :chef_avatar_cache %>
  </div>



  <h1>Dish's</h1>

  <div id="products">
    <%= f.fields_for :products do |product_fields| %>
      <%= render 'product_fields', f: product_fields %>
    <% end %>

    <div class="links">
      <button><%= link_to_add_association "Add Dish", f, :products %></button>
    </div>
  </div>

  <div class="action">
    <%= f.submit class: 'new_chef_button' %>
  </div>

<% end %>
