<h1>Chefs#show</h1>

<div><%= @chef.name %></div>
<div><%= @chef.email %></div>
<div><%= @chef.location %></div>
<div><%= @chef.experience %></div>
<div><%= @chef.service_radius %></div>


<div><%= image_tag @chef.chef_avatar.url(:medium) if @chef.chef_avatar %></div>


<h3>Dishes:</h3>

<!-- Take a loop bellow out of the 'loging to select and view dishes' to see dishes created by chef right away to verify the dish is created and image is uploaded.  -->

<% @chef.products.each do |product| %>

  <div class="field">
      <p><strong><%= product.name %></strong></p>
      <p><%= product.description %></p>
      <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
  </div>

<% end %>



<% if current_client %>
  <%= form_for [@chef, @client, Order.new] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field">
          <p><strong><%= product.name %></strong></p>
          <p><%= product.description %></p>
          <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
      </div>

      <div class="field">
        <%= f.label :select_dish %>
        <%= f.check_box :products %>
      </div>

    <% end %>
    <br>
    <div class="action">
      <%= f.submit 'Subscribe to this Chef' %>
    </div>

  <% end %>
<% else %>
  <p>Please log in to select and view dish's!</p>
<% end %>

<% if current_chef %>
    <% if @clients_near_chef.any? %>
    <h2>Nearby Clients</h2>
      <ol>
        <% @clients_near_chef.each do |client| %>
          <li><%= link_to client.name, client_path(client) %>
          <%= "#{client.distance} km" %></li>
        <% end %>
      </ol>
    <% end %>
<% end %>




<!-- <% if @nearby_chefs.any? %>
  <h2>Nearby Chefs</h2>
    <ul>
      <% @nearby_chefs.each do |nc| %>
        <li><%= "#{nc.name}, #{nc.distance} km" %></li>
      <% end %>
    </ul>
  <% end %> -->
