<%= render '/shared/navbar' %>

<h1 class="chef_show_h1"><%= @chef.name %></h1>
<!-- <div><%= @chef.email %></div> -->
<div><%= "Address: #{@chef.location}" %></div>
<div><%= "Experience: #{@chef.experience}" %></div>
<!-- service_radius wont' be rendered eventually -->
<div><%= "Specialty: #{@chef.specialty}" %></div>
<div><%= "#{@chef.service_radius} km away" %></div>

<div><%= image_tag @chef.chef_avatar.url(:medium) if @chef.chef_avatar %></div>



<br>
<br>
<h3><%= @chef.name %> offers these dish's:</h3>

<% if current_client %>
  <%= form_for [@client, @chef, @order] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field">
        <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
        <p><strong><%= product.name %></strong></p>
        <p><%= product.description %></p>
        <p><%= "$#{product.price}" %></p>

        <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

        <p><%= line_item_form.label :product_id, "Select Dish" %></p>
        <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
        <% end %>

      </div>

    <% end %>
    <br>
    <div class="action">
      <%= f.submit 'Subscribe to this Chef' %>
    </div>

  <% end %>
<% else %>
  <p>Please log in to select and view dish's!</p>
<% end %>
