<h2><%= @chef.name %></h2>


<div><%= @chef.email %></div>
<div><%= @chef.location %></div>
<div><%= @chef.experience %></div>

<div><%= @chef.service_radius %></div>



<div><%= image_tag @chef.chef_avatar.url(:medium) if @chef.chef_avatar %></div>



<br>
<br>
<p><%= @chef.name %> offers these dish's:</p>

<% if current_client %>
  <%= form_for [@client, @chef, @order] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field">
        <p><strong><%= product.name %></strong></p>
        <p><%= product.description %></p>
        <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
        <p><%= "$#{product.price}" %></p>

        <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

        <p><%= line_item_form.label :product_id, "Select Dish" %></p>
        <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
        <% end %>

      </div>

    <% end %>
    <br>
    <div class="action">
      <%= f.submit 'Subscribe to this Chef' %>
    </div>

  <% end %>
<% else %>
  <p>Please log in to select and view dish's!</p>
<% end %>

<% if current_chef %>
    <% if @clients_near_chef.any? %>
    <h2>Nearby Clients</h2>
      <ol>
        <% @clients_near_chef.each do |client| %>
          <li><%= link_to client.name, client_path(client) %>
          <%= "#{client.distance} km" %></li>
        <% end %>
      </ol>
    <% end %>
<% end %>




<!-- <% if @nearby_chefs.any? %>
  <h2>Nearby Chefs</h2>
    <ul>
      <% @nearby_chefs.each do |nc| %>
        <li><%= "#{nc.name}, #{nc.distance} km" %></li>
      <% end %>
    </ul>
  <% end %> -->
