<%= render '/shared/navbar' %>


<!-- <p><div id="rateYo_average"></div></p> -->

  <h4>Average star rating:
  <% if @chef.ratings.any? %>
    <%= @average_rating %>
  <% else %>
    <p>No ratings yet</p>
  <% end %>

<!-- Mobile SHiz -->
<div class="jumbotron">

</div>
<div><%= image_tag @chef.chef_avatar.url(:medium), class:"img-circle chef_avatar_mobile" if @chef.chef_avatar %></div>

<h1 class="chef_name_mobile"><%= @chef.name %></h1>
<p class="chef_experience_mobile"><%= "Experience: #{@chef.experience}" %><p>
<p class="chef_speciality_mobile"><%= "Specialty: #{@chef.specialty}" %><p>

<h3 class="chef_subheader_mobile_1"><%= @chef.name %> offers these dish's:</h3>

<% if current_client %>
  <%= form_for [@client, @chef, @order] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field field_mobile">
        <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
        <p><strong><%= product.name %></strong></p>
        <p><%= product.description %></p>
        <p><%= "$#{product.price}" %></p>

        <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

        <p><%= line_item_form.label :product_id, "Select Dish" %></p>
        <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
        <% end %>

      </div>

      <% end %>
      <br>
      <div class="action action_mobile">
        <%= f.submit 'Subscribe to this Chef' %>
      </div>

    <% end %>
  <% else %>
    <p>Please log in to select and view dish's!</p>
  <% end %>


<!-- End Mobile Shiz -->

<h1 class="chef_show_h1"><%= @chef.name %></h1>
<p class="chef_experience"><%= "Experience: #{@chef.experience}" %></p>
<p class="chef_speciality"><%= "Specialty: #{@chef.specialty}" %></p>

<p><%= image_tag @chef.chef_avatar.url(:medium), class: "chef_avatar" if @chef.chef_avatar %></p>


<br>
<br>
<h3 class="chef_offers_message"><%= @chef.name %> offers these dish's:</h3>

<% if current_client %>
  <%= form_for [@client, @chef, @order] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field field_desktop">
        <p><%= image_tag product.product_picture.url(:small), class: "product_picture_desktop" if product.product_picture %></p>
        <p><strong><%= product.name %></strong></p>
        <p><%= product.description %></p>
        <p><%= "$#{product.price}" %></p>

        <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

        <p><%= line_item_form.label :product_id, "Select Dish" %></p>
        <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
        <% end %>

      </div>

    <% end %>
    <br>
    <div class="action action_desktop">
      <%= f.submit 'Subscribe to this Chef' %>
    </div>

  <% end %>
<% else %>
  <p>Please log in to select and view dish's!</p>
<% end %>


    <% if current_client %>
  <h4>Rate your chef</h4>

  <%= form_for([@chef, @rating], remote: true) do |f| %>

  <div id="rateYo"></div>

    <div class="field" style="display:none;">
      <%= f.label :rating %>
      <%= f.number_field :rating %>
    </div>

    <div class="field">
      <%= f.label :review %><br />
      <%= f.text_area :review %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  <% end %>



  <h3>Reviews for <%= @chef.name %></h3>

  <ul class="ratings-list">
    <%= render @chef.ratings %>
  </ul>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
