<%= render '/shared/navbar' %>

<div id="wrapper">
  <h1 class="chef-header"><%= @chef.name.capitalize %></h1>

  <!-- CHEF RATING -->
  <div>
    <h4>Average star rating:
      <% if @averga_rating %>
        <%= @average_rating %>
      <% else %>
        <p>No ratings yet</p>
      <% end %>
    </h4>
  </div>

  <!-- CHEF INFO -->
  <div class="chef-show-info">
    <p><%= "Address: #{@chef.location}" %></p>
    <p><%= "Experience: #{@chef.experience}" %></p>
    <p><%= "Specialty: #{@chef.specialty}" %></p>
    <!-- <div><%= "#{@chef.service_radius} km away" %></div> -->
    <p><%= image_tag @chef.chef_avatar.url(:medium) if @chef.chef_avatar %></p>
  </div>


  <!-- MAIN SUBSCRIPTION FORM -->
  <div class="dish-box">
    <h3><%= @chef.name.capitalize %> offers these dish's:</h3>

    <% if current_client %>
      <%= form_for [@client, @chef, @order] do |f| %>

        <% @chef.products.each do |product| %>

          <div class="field">
            <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
            <p><strong><%= product.name %></strong></p>
            <p><%= product.description %></p>
            <p><%= "$#{product.price}" %></p>

            <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

              <p><%= line_item_form.label :product_id, "Select Dish" %></p>
              <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
            <% end %>

          </div>

        <% end %>
        <br>
        <div class="action">
          <%= f.submit 'Subscribe to this Chef' %>
        </div>

      <% end %>
    <% else %>
      <p>Please log in to select and view dish's!</p>
    <% end %>
  </div>

  <!-- CHEF RATING -->
  <div>
    <% if current_client %>
    <h4>Rate your chef</h4>

    <%= form_for([@chef, @rating], remote: true) do |f| %>

    <div id="rateYo"></div>

      <div class="field" style="display:none;">
        <%= f.label :rating %>
        <%= f.number_field :rating %>
      </div>

      <div class="field">
        <%= f.label :review %><br />
        <%= f.text_area :review %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    <% end %>
  </div>


  <h3>Reviews for <%= @chef.name %></h3>

  <ul class="ratings-list">
    <%= render @chef.ratings %>
  </ul>

</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
