<h1>Chef show</h1>


<div><%= @chef.name %></div>
<div><%= @chef.email %></div>
<div><%= @chef.location %></div>
<div><%= @chef.experience %></div>

<h3>Dishes:</h3>

<% @chef.products.each do |product| %>
  <div class="product">
    <p>
      <%= product.name %>
      <%= product.description %>

      <%= image_tag product.product_picture.url(:pic) if product.product_picture %>
    </p>
  </div>
<% end %>
