<%= render '/shared/navbar' %>

<div id="wrapper">
  <h1 class="chef-header"><%= @chef.name.capitalize %></h1>

  <!-- CHEF RATING -->
  <div class="chef-rating row">
    <h4 class="col-md-12">Average star rating</h4>
      <% if @averga_rating %>
        <p><%= @average_rating %></p>
      <% else %>
        <p>No ratings yet</p>
      <% end %>
  </div>

  <!-- CHEF INFO -->
  <div class="chef-show-info row">
    <h4 class="col-md-4"><%= image_tag @chef.chef_avatar.url(:small), class: 'img-thumbnail' if @chef.chef_avatar %></h4>
    <h4 class="col-md-6 info-content"><%= "Address: #{@chef.location}" %></h4>
    <h4 class="col-md-6 info-content"><%= "Experience: #{@chef.experience}" %></h4>
    <h4 class="col-md-12 specialty-content"><%= "Specialty: #{@chef.specialty}" %></h4>
  </div>


  <!-- MAIN SUBSCRIPTION FORM -->
  <div class="dish-box">
    <h1 class="dish-header"><%= @chef.name.capitalize %> offers these dish's:</h1>

    <% if current_client %>
      <%= form_for [@client, @chef, @order] do |f| %>

        <% @chef.products.each do |product| %>

          <div class="field row">
            <p class="col-md-4"><%= image_tag product.product_picture.url(:small), class: 'img-rounded' if product.product_picture %></p>
            <h3 class="col-md-6"><strong><%= product.name %></strong></h3>
            <p class="col-md-6"><%= product.description %></p>
            <p class="col-md-6"><%= "$#{product.price}" %></p>

            <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

              <p><%= line_item_form.label :product_id, "Select Dish" %></p>
              <p><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
            <% end %>

          </div>

        <% end %>
        <br>
        <div class="action">
          <%= f.submit 'Subscribe to this Chef' %>
        </div>

      <% end %>
    <% else %>
      <p>Please log in to select and view dish's!</p>
    <% end %>
  </div>

  <!-- CHEF RATING -->
  <div class="chef-rating-box">
    <% if current_client %>
    <h3 class="chef-header">Rate your chef</h3>

    <%= form_for([@chef, @rating], remote: true) do |f| %>
      <div class="rating-stars">
        <div id="rateYo"></div>
      </div>

      <div class="field" style="display:none;">
        <%= f.label :rating %>
        <%= f.number_field :rating %>
      </div>

      <div class="field">
        <%= f.label :review %><br />
        <%= f.text_area :review, class: 'review-text-box' %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    <% end %>
  </div>


  <h3 class="chef-header">Reviews for <%= @chef.name %></h3>

  <ul class="ratings-list">
    <%= render @chef.ratings %>
  </ul>

</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
