
<h1><%= @chef.name %></h1>
<p><%= @chef.email %></p>
<p><%= @chef.location %></p>
<p><%= @chef.experience %></p>

<h3>Dishes:</h3>

<% @chef.products.each do |product| %>
  <div class="product">
    <p>
      <%= product.name %>
      <%= product.description %>
      <%= image_tag product.product_picture.url(:pic) if product.product_picture %>
    </p>
  </div>
<% end %>
