<%= render '/shared/navbar' %>


<!-- <p><div id="rateYo_average"></div></p> -->



<!-- Mobile SHiz -->
<div class="jumbotron">

</div>
<!-- End Mobile Shiz -->
<p><%= image_tag @chef.chef_avatar.url(:medium), class: "chef_avatar img-circle" if @chef.chef_avatar %></p>

<h1 class="chef_show_h1"><%= @chef.name %></h1>
<h4 class="chef_star_rating">Average star rating:   <%= @average_rating %> </h4>
<% if @chef.ratings.any? %>
<% else %>
  <p>No ratings yet</p>
<% end %>
<p class="chef_experience"><%= "Experience: #{@chef.experience}" %></p>
<p class="chef_speciality"><%= "Specialty: #{@chef.specialty}" %></p>




<br>
</br>



<% if current_client %>

  <h3 class="dishes_h3"><%= @chef.name %> offers these dish's:</h3>

  <%= form_for [@client, @chef, @order] do |f| %>

    <% @chef.products.each do |product| %>

      <div class="field field_desktop field_mobile">
        <p><%= image_tag product.product_picture.url(:small), class: "product_picture_desktop" if product.product_picture %></p>
        <p class="product_name"><strong><%= product.name %></strong></p>
        <p class="product_description"><%= product.description %></p>
        <p class="product_price"><%= "$#{product.price}" %></p>

        <%= f.fields_for :line_items, @order.line_items.new do |line_item_form| %>

        <p class="dish_select_label"><%= line_item_form.label :product_id, "Select Dish" %></p>
        <p class="dish_select_box"><%= line_item_form.check_box :product_id, {}, product.id, nil %></p>
        <% end %>

      </div>

    <% end %>
    <br>
    <div class="action action_desktop">
      <%= f.submit 'Subscribe to this Chef' %>
    </div>

  <% end %>
<% else %>
  <!-- <p>Please log in to select and view dish's!</p> -->
<% end %>




<!-- When current chef logged in: -->
<% if current_chef %>
  <% @chef.products.each do |product| %>

    <div class="field">
      <p><%= image_tag product.product_picture.url(:small) if product.product_picture %></p>
      <p><strong><%= product.name %></strong></p>
      <p><%= product.description %></p>
      <p><%= "$#{product.price}" %></p>
  <% end %>
<% end %>
  </div>


    <% if current_client %>
  <h4 class="chef_rating_h4">Rate your chef</h4>

  <%= form_for([@chef, @rating], remote: true) do |f| %>

  <div id="rateYo"></div>

    <div class="field rating_field_1" style="display:none;">
      <%= f.label :rating %>
      <%= f.number_field :rating %>
    </div>

    <div class="field rating_field_2">
      <%= f.label :review, class:"label_reviews"%><br/>
      <%= f.text_area :review, class:"text_area_reviews" %>
    </div>

    <div class="actions rating_field_submit">
      <%= f.submit  %>
    </div>
    <% end %>
  <% end %>



  <h3 class="reviews_h3">Reviews for <%= @chef.name %></h3>

  <% if @chef.ratings.any? %>
  <ul class="ratings-list">
    <%= render @chef.ratings %>
  </ul>
  <% else %>
    <p>No reviews yet.</p>
  <% end %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
