<nav class="navbar navbar navbar-fixed-top background-logo">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    </button>
    <%= link_to 'UrbanChef', home_index_path, class: 'navbar-brand' %>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- Add links here -->
      <% if current_client %>
        <li class="active"><%= link_to 'Log Out', destroy_client_session_path, method: :delete %></li>
        <li class="active"><%= link_to 'Client Dashboard', client_path(current_client) %></li>
      <% elsif current_chef %>
        <li class="active"><%= link_to 'Log Out', destroy_chef_session_path, method: :delete %></li>
        <li class="active"><%= link_to 'Chef Dashboard', chef_orders_path(current_chef) %></li>
      <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</nav>
