  <h1>Client Sign-Up</h1>

  <%= form_for @client, :html => {:class => "new_client_form"} do |f| %>
    <div class="new_client_question">
      <%= f.text_field :name, class: 'new_client_input' %>
      <%= f.label :name, class: 'new_client_label' %>
    </div>

    <div class="new_client_question">
      <%= f.email_field :email, class: 'new_client_input' %>
      <%= f.label :email, class: 'new_client_label' %>
    </div>

    <div class="new_client_question">
      <%= f.text_field :location, class: 'new_client_input' %>
      <%= f.label :location, class: 'new_client_label' %>
    </div>

    <div class="new_client_question">
      <%= f.password_field :password, class: 'new_client_input' %>
      <%= f.label :password, class: 'new_client_label' %>
    </div>

    <div class="new_client_question">
      <%= f.password_field :password_confirmation, class: 'new_client_input' %>
      <%= f.label :password_confirmation, class: 'new_client_label' %>
    </div>

    <div class="avatar">
      <%= f.file_field :client_avatar, class: 'new_client_input' %>
      <%= f.label :client_avatar, class: 'new_client_label' %>
      <%= f.hidden_field :client_avatar_cache %>
    </div>

    <div class="action">
      <%= f.submit class: 'new_client_button' %>
    </div>
  <% end %>
