<form>

  <h1>Client Sign-Up</h1>

  <%= form_for @client do |f| %>
    <div class="question">
      <%= f.label :name, class: 'label' %>
      <%= f.text_field :name, class: 'input' %>
    </div>

    <div class="question">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, class: 'input' %>
    </div>

    <div class="question">
      <%= f.label :location, class: 'label' %>
      <%= f.text_field :location, class: 'input' %>
    </div>

    <div class="question">
      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, class: 'input' %>
    </div>

    <div class="question">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, class: 'input' %>
    </div>

    <div class="client_avatar">
      <%= f.label :client_avatar, class: 'label' %>
      <%= f.file_field :client_avatar, class: 'input' %>
      <%= f.hidden_field :client_avatar_cache %>
    </div>

    <div class="action">
      <button><%= f.submit %></button>
    </div>
  <% end %>

</form>
