<form>

  <h1>Client Sign-Up</h1>

  <%= form_for @client do |f| %>
    <div class="question">
      <label><%= f.label :name %></label>
      <input><%= f.text_field :name %></input>
    </div>

    <div class="question">
      <label><%= f.label :email %></label>
      <input><%= f.email_field :email %></input>
    </div>

    <div class="question">
      <label><%= f.label :location %></label>
      <input><%= f.text_field :location %></input>
    </div>

    <div class="question">
      <label><%= f.label :password %></label>
      <input><%= f.password_field :password %></input>
    </div>

    <div class="question">
      <label><%= f.label :password_confirmation%></label>
      <input><%= f.password_field :password_confirmation %></input>
    </div>

    <div class="client_avatar">
      <label><%= f.label :client_avatar %></label>
      <input><%= f.file_field :client_avatar %></input>
      <%= f.hidden_field :client_avatar_cache %>
    </div>

    <div class="action">
      <button><%= f.submit %></button>
    </div>
  <% end %>

</form>
