
<meta name="viewport" content="width=device-width, initial-scale=1.">
<%= render '/shared/navbar' %>

<div class="jumbotron">
  <div class="container">

  </div>
</div>
<div class="client-info">
  <p><%= @client.name %></p>
  <p><%= @client.email %></p>
  <p><%= @client.location %></p>
  <p><%= image_tag @client.client_avatar.url(:medium), class: 'img-circle client_avatar' if @client.client_avatar %></p>
</div>


<div id="wrapper">

  <h1 class="client-header"><%= current_client.name %>'s Dashboard</h1>
  <div class="client-info">
    <p><%= image_tag @client.client_avatar.url(:medium), class: 'img-circle' if @client.client_avatar %></p>
    <p><%= @client.name %></p>
    <p><%= @client.email %></p>
    <p><%= @client.location %></p>
  </div>

  <div>
    <h2 class="sub-header">You subscribed to the following chef:</h2>
    <% if @serving_chefs.any? %>
      <!-- <ul class="sub-list-style"> -->
        <% current_client.chefs.each do |chef| %>
          <p><%= image_tag chef.chef_avatar.url(:small), class: 'img-circle' if chef.chef_avatar %></p>
          <h3 class="sub-name"><%= chef.name %></h3>
          <p class="sub-exp"><%= chef.experience %></p>
          <p><%= chef.specialty %></p>
        <% end %>
      <!-- </ul> -->
    <% end %>
  </div>

  <div class="local-chef">
    <% if current_client %>
          <% if @serving_chefs.any? %>
          <h2 class="sub-header">Other chefs you can try:</h2>
              <% @serving_chefs.each do |chef| %>
                <div class="sub-list-style">
                  <p><%= image_tag chef.chef_avatar.url(:small), class: 'img-circle' if chef.chef_avatar %></p>
                </div>
                  <p class="available-chef"><%= link_to chef.name, chef_path(chef) %></p>
              <% end %>
          <% end %>
      <% end %>
  </div>



<%=  javascript_tag do %>
  window.nearbys = <%= raw @serving_chefs.map {|chef| {latitude: chef.latitude, longitude: chef.longitude} }.to_json %>
<% end %>
