<h1>Clients#show</h1>

<div><%= @client.name %></div>
<div><%= @client.email %></div>
<div><%= @client.location %></div>

<div><%= image_tag @client.client_avatar.url(:medium) if @client.client_avatar %></div>



<!-- Chefs who can serve you (client is within radius of service) will be rendered on the page -->
<% if current_client %>
    <% if @chefs.any? %>
    <h2>Chefs who can serve you (you are within their range of service)</h2>
      <ul>
        <% @chefs.each do |chef| %>

          <% if (chef.distance_to(current_client, :km)).to_f <
              (chef.service_radius).to_f %>
              <li>
                <p><%= image_tag @chef.chef_avatar.url(:small) if @chef.chef_avatar %></p>
                <p><%= link_to chef.name, chef_path(chef) %></p>
                <p><%= " Experience: #{chef.experience}. " %></p>
                <p><%= " Specialty: #{chef.specialty}. " %></p>
                <p><%= " #{chef.distance_to(current_client, :km).round(2)} km away." %></p></li>
              </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
<% end %>
