<!-- This is the main page styles for this page are on home.scss -->

<div id="page-top">
    <div class="jumbotron_main">
      <div class="container warpin-start">
        <h1 class="main_title">UrbanChef</h1>
        <h2 class="main_title">Find your personal Chef</h2>
          <div class="main_title">
            <% if current_client %>
              <%= link_to 'View local Chefs', client_path(current_client), class: 'button' %>
            <% elsif current_chef %>
              <%= link_to 'Your Chef Dashboard', chef_orders_path(current_chef), class: 'button' %>
            <% else %>
              <%= link_to 'Client Log In', new_client_session_path, class: 'button_login' %>
              <%= link_to 'Chef Log In', new_chef_session_path, class: 'button_login' %>
            <% end %>
          </div>
      </div>

      <div class="warpin1-start1">
          <img src="http://i.imgur.com/cXbTDlU.png" class="chef_img" />
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="index_button">
            <%= link_to 'Sign Up', new_client_registration_path, class: 'button' %>
          <p class="index_p">Join in on our large community of connoisseurs enjoying quality meals at home for fair prices.</p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="index_button">
          <%= link_to 'Become a Chef', new_chef_registration_path, class: 'button' %>
          <p class="index_p">Become a Chef and start your new freelancing career, work from home, set your own hours and take controll over your cooking.</p>
        </div>
      </div>
        <div class="col-md-4">
          <div class="index_button">
            <a href="#myCarousel" class="button">Learn More</a>
          <p class="index_p">Learn more about our services and how things work on the site, take a tour through the services offered to both chef's and connoisseurs</p>
        </div>
      </div>
      </div>
    </div>


        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel_list">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item">
                <h2 class="carousel_title">Chef Info</h2>
                <p class="content_text">
                  <ol class="carousel_list">
                    <li class="slide_title">3 Easy Steps:</li>
                    <li><span class="glyphicon glyphicon-pencil"></span><p class="list_text">Sign up / Log in</p></li>
                    <li><span class="glyphicon glyphicon-user"></span><p class="list_text">Keep profile updated with latest menu</p></li>
                    <li><span class="glyphicon glyphicon-flash"></span><p class="list_text">Wait for order notifications</p></li>
                  </ol>
                </p>
            </div>
            <div class="item active">
                <h2 class="carousel_title">About Urban Chef</h2>
                <p class="content_text">Urban Chef is designed to connect busy professionals with a restaurant quality dining experience
                  in the comfort of their own home. Our chefs offer a wide selection of their premium dishes which
                  are delivered weekly to Urban Chef clients. All you have to do is choose a Chef from one listed
                  in your area and choose your delicious meals for the week. Pricing is competitive with local
                  takeout options but without the need to leave your home to enjoy your meal. Want more details? Click
                  on the links to the left and right. </p>
            </div>
            <div class="item">
              <h2 class="carousel_title">Client Info</h2>
                <p class="content_text">
                  <ol class="carousel_list">
                    <li class="slide_title">3 Easy Steps:</li>
                    <li><span class="glyphicon glyphicon-pencil"></span><p class="list_text">Sign up / Log in</p></li>
                    <li><span class="glyphicon glyphicon-user"></span><p class="list_text">View chef profiles</p></li>
                    <li><span class="glyphicon glyphicon-flash"></span><p class="list_text">Choose a chef and order</p></li>
                  </ol>
                </p>
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <p class="glyph_title">Chef Info</p>
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <p class="glyph_title">Client Info</p>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
        </div>

        <script>
        $(function() {
          setTimeout(function() {
            $(".warpin-start").addClass("warpin");
          }, 100);
        });
        </script>

        <script>
        $(function() {
          setTimeout(function() {
            $(".warpin1-start1").addClass("warpin1");
          }, 100);
        });
        </script>

        <script>
          $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html, body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
          });
        </script>

        <script>
        $('.carousel').carousel({
          wrap: false
          });
              $('#myCarousel').carousel(3);
        </script>

        <script>
          $(".left").click(function(){
          $("#myCarousel").carousel("prev");
          });
        </script>

        <script>
        $(".right").click(function(){
        $("#myCarousel").carousel("next");
        });
        </script>


</div>
