<!-- Chef login page, stylesheet is chef_login.scss -->
<%= render '/shared/navbar' %>

<div class="wrapper">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">Chef Log in</h2>

    <div class="form-control">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form-control">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-control">
        <%= f.label :remember_me, class: "checkbox_label" %>
        <%= f.check_box :remember_me, class: "checkbox" %>
      </div>
    <% end -%>

    <div class="actions btn btn-lg btn-custom btn-block">
      <%= f.submit "Log in", class: "sbutton" %>
    </div>
  <% end %>
</div>


<%= render "chefs/shared/links" %>
