<!DOCTYPE html>
<html>
  <head>
    <title>IChef40</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="app/assets/images/logo2b.png" alt="Brands">
        </a>
      </div>
    </div>
  </nav>



    <%= yield %>


    <p><%= link_to 'Home', root_path %></p>
    <p><%= link_to 'new chef', new_chef_registration_path %></p>
    <p><%= link_to 'new client', new_client_registration_path %></p>
    <p><%= link_to 'index client', clients_path %></p>
    <p><%= link_to 'index chef', chefs_path %></p>
    <p><%= link_to 'Chef Log In', new_chef_session_path %></p>
    <p><%= link_to 'Client Log In', new_client_session_path %></p>
    <p><%= link_to 'Client Log Out', destroy_client_session_path, method: :delete %></p>
    <p><%= link_to 'Chef Log Out', destroy_chef_session_path, method: :delete %></p>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_client %>
      <p>Signed in as Client: <%= current_client.email %> </p>
    <% elsif current_chef %>
      <p>Signed in as Chef: <%= current_chef.email %></p>
    <% end %>

  </body>
</html>
