<!-- This is the Main layout, html here will apply to all views -->
<!DOCTYPE html>
<html>
  <head>
    <title>UrbanChef</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <%= csrf_meta_tags %>
  </head>
  <!-- <body>
    <p><%= link_to 'Home', root_path %></p>
    <p><%= link_to 'index client', clients_path %></p>
    <p><%= link_to 'index chef', chefs_path %></p> -->


<!-- Navbar styles are in nav_bar.scss -->
<!-- <div class="container-fluid">
    <nav class="navbar"> -->
      <!-- <div class="navbar-header">
        <%= link_to "", root_path, class: 'logo' %> -->


        <!-- <ul class="navbar-nav">
          <% if current_client %>
            <li><button type="button" class="button"><%= link_to 'client logout', destroy_client_session_path, method: :delete %></button></li>
            <li><button type="button" class="button"><%= link_to 'index chef', chefs_path %></button></li>
          <% elsif current_chef %>
            <li><button type="button" class="button"><%= link_to 'chef logout', destroy_chef_session_path, method: :delete %></button></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav> -->



    <%= yield %>




    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <% if current_client %>
      <p>Signed in as Client: <%= current_client.email %> </p>
      <p><%= link_to 'Client Log Out', destroy_client_session_path, method: :delete %></p>
    <% elsif current_chef %>
      <p>Signed in as Chef: <%= current_chef.email %></p>
      <p><%= link_to 'Chef Log Out', destroy_chef_session_path, method: :delete %></p>
    <% end %>

  </body>
</html>
