<!-- This is the Main layout, html here will apply to all views -->
<!DOCTYPE html>
<html>
  <head>
    <title>UrbanChef</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee|Lobster|Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>




    <%= yield %>








  </body>
</html>
